torch==2.1.2+cu121
torchaudio==2.1.2+cu121
chromadb==0.4.22
datasets==2.16.1
transformers==4.36.2
langchain==0.1.0
langchain-community==0.0.13
sentence_transformers
accelerate==0.21.0
peft==0.4.0
bitsandbytes==0.40.2
trl==0.4.7
gradio==4.14.0
