accelerate==0.21.0
chromadb==0.4.22
datasets==2.16.1
gradio==4.14.0
langchain==0.1.0
langchain-community==0.0.13
peft==0.4.0
pypdf
sentence_transformers==2.2.2
torch==2.1.2
transformers==4.36.2
trl==0.4.7
